<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Inicio</a>
      <a href="/api/products">Productos</a>
      <a href="/api/carts">Carrito</a>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy;Mi Tienda Online</p>
  </footer>
</body>
</html>
